.app {    
    min-height: 100vh;
    display: flex;
   
    .card {       
        border-radius: 0px !important; 
    }
    .px-2 {
       padding-right: 2rem; 
    }
    .mb-1 {
        margin-bottom: 1rem !important;
    }
    .mb-2 {
        margin-bottom: 2rem !important;
    }
    .btn-active{
        opacity: 1;
    }
    .btn-inactive{
        opacity: 0.5;
    }
}