<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">              
              <div class="card">
                  <div class="card-block">
                    <form id="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                        <h1>Login</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <div class="input-group mb-1">
                          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                          <input required class="form-control" placeholder="Username" type="text" [(ngModel)]="userModel.username" name="name" #name="ngModel" (ngModelChange)="onChangeInput()">
                        </div>
                        <div class="alert alert-danger text-left" *ngIf="!name.pristine && name.errors && name.errors.required">
                           Username is required
                        </div>
                        <div class="input-group mb-2">
                          <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                          <input required class="form-control" placeholder="Password" type="password" [(ngModel)]="userModel.password" name="pwd" #pwd="ngModel">
                        </div>
                        <div class="alert alert-danger text-left" *ngIf="!pwd.pristine && pwd.errors && pwd.errors.required" (ngModelChange)="onChangeInput()">
                           Password is required
                        </div>
                        <div class="alert alert-danger text-left" *ngIf="errorMsg">
                           The username or password is incorrect
                        </div>
                        <div class="row" >
                          <div class="col-6">
                            <button class="btn btn-primary px-2" type="submit" [disabled]="!loginForm.form.valid" [ngClass]="{'btn-active':loginForm.form.valid, 'btn-inactive':!loginForm.form.valid }">Login</button>
                          </div>
                        </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>