.home-side {   
    
    .card {
        padding: 1rem;
        margin: 1rem;
        border-radius: 0px !important;
        
    }
    
}
.heading {
    font-size: 1.5rem;
    color: #20a8d8;    
 }
.fa-spinner {
    color: #20a8d8;
}