<div class="container-fluid home-side">
  <div class="card">      
      <div class="card-block">
          <div class="row mb-2">
            <div class="heading">Student View Portal</div>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th class="center">#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th class="center">Grade</th>
                          <th class="right">School Name</th>
                          <th class="center">History</th>
                      </tr>
                  </thead>
                  <tbody *ngIf="studentListArray; else spinner;">
                      <tr *ngFor="let obj of studentListArray; let i = index;">
                          <td class="center">{{ i + 1 }}</td>
                          <td class="left">{{ obj.firstName }}</td>
                          <td class="left">{{ obj.lastName }}</td>
                          <td class="center">{{ obj.grade }}</td>
                          <td class="right">{{ obj.schoolName }}</td>
                          <td class="left">
                            <span><button class="btn btn-outline-primary" type="button" (click)="onEnrollment(obj.studentId);">Enrollment</button></span>
                            <span><button class="btn btn-outline-primary" type="button" (click)="onAssignment(obj.studentId);">Assignment</button></span>
                          </td>
                      </tr>                                           
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<ng-template #spinner><tr><td colspan="6" class="text-center"><i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i></td></tr></ng-template>


<div class="modal fade enroll-modal-box" id="collapseEnrollment" *ngIf="enrollHide">
  <div class="modal-dialog modal-smd" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="heading">{{ studentListArray[studentId - 1].firstName }} Enrollment History</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="">        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>                          
                <th>Entry Date</th>
                <th>Exit Date</th>
                <th>Exit Reason</th>
              </tr>
            </thead>
            <tbody *ngIf="studentEnrollArray; else spinner;">
              <tr *ngFor="let obj of studentEnrollArray; let i = index;">
                <td>{{ obj.entryDate | date }}</td>
                <td>{{ obj.exitDate | date }}</td>
                <td>{{ obj.exitReason }}</td>                          
              </tr>             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 
</div>

<div class="modal fade assign-modal-box" id="collapseAssignment" *ngIf="assignHide">
  <div class="modal-dialog modal-smd" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="heading">{{ studentListArray[studentId - 1].firstName }} Assignment History</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="">        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>                          
                <th>Assignment Name</th>
                <th>Max Score</th>
                <th>Completion Date</th>
                <th>Score Earned</th>
                <th>Due Date</th>
              </tr>
            </thead>
            <tbody *ngIf="studentAssArray; else spinner;">
              <tr *ngFor="let obj of studentAssArray; let i = index;">
                <td>{{ obj.assignmentName }}</td>
                <td>{{ obj.maxScore }}</td>
                <td>{{ obj.completionDate | date }}</td>  
                <td>{{ obj.scoreEarned }}</td>
                <td>{{ obj.dueDate | date }}</td>                             
              </tr>             
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
