/* You can add global styles to this file, and also import other style files */

body {
    font-family: Tahoma, Geneva, sans-serif !important; 
    font-size: 0.9rem !important; 
}

button {
    cursor: pointer;
}

.modal-dialog {
    max-width: 800px !important;
}
.modal-content {
    border-radius: 0px !important; 
}
